<! doctype  html>
<html>
<head>
  <meta charset="utf-8">
  <title> InstruMarket::Home</title>
  <style type="text/css">
  form {
    border: 1px solid black;
    padding: 2px;
    width: auto;
  }
  </style>
</head>
<body>
  <h1> Negozio strumenti Musicali </h1>
  <form action ="/strumenti" autocomplete="on" method="post">
    <label> ricerca:</label>
    <input type="search" name="categ" placeholder="Inserisci categoria ..." />
    <input type="submit" value="cerca" />
  </form>

</body>
</html>
